<html>
    <head>
      {% if title %}
      <title>{{ title }} - Bundy's Book Bin</title>
      {% else %}
      <title>Welcome to Bundy's Book Bin</title>
      {% endif %}
    </head>
    <body>

      <!-- menu -->
        <hr>
        <div>Bundy's Book Bin:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
      <!-- end menu stuff -->

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
     {% endif %}
     {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
